<!doctype html>
<html>
  <head>

    <% include parts/header.ejs %>

    <title><%= title %></title>

  </head>

  <body>
    <div class="container">

      <% include parts/nav.dashboard.ejs %>

      <h1>Contents list</h1>
      <a href="/addContent"> <input class="btn btn-success"type="button" value="Add"></a>
      
    
      <% if (error !== undefined) { %>
        <% include parts/error.ejs %>
      <% } %>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>N°</th>
              <th>Title</th>
              <th>Beacon</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<contents.length; i++) { %>
              <tr>
                <td><%=i+1%></td>
                <td><%=contents[i].title%></td>
                <td><%=contents[i].beacon%></td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <% include parts/footer.ejs %>

    <script type="text/javascript" src="/lib/jQuery/jquery.3.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>

  </body>
</html>