<!doctype html>
<html lang="en">
  <head>
  
    <% include parts/header.ejs %>

    <title><%=title%></title>

  </head>
  <body>

    <div class="container">

    <% include parts/nav.dashboard.ejs %>

      <h1>Dashboard page</h1>

      <br />

      <h4>Your informations :</h4>

      <ul>
        <li><h5>Company name: <%=company_name%></h5></li>
        <li><h5>API Token: <%=company_api_token%></h5></li>
      </ul>

      <br />

    <% include parts/footer.ejs %>
    
    <script type="text/javascript" src="/lib/jQuery/jquery.3.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>

  </body>
</html>
