<!doctype html>
<html lang="en">
  <head>
  
    <% include parts/header.ejs %>

    <title><%=title%></title>

  </head>
  <body>

    <div class="container">

    <% include parts/nav.ejs %>

    <% if (success !== undefined) { %>
      <% include parts/success.ejs %>
    <% } %>

      <div class="jumbotron">
        <h2>Welcome to RubyCon!</h2>
        <h3>An admin interface for beacon management</h3>
        <p><a id="signinButton" class="btn btn-lg btn-success" href="/registration">Sign in</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Features of beacon manager</h4>
          <p>Blablabla.</p>

          <h4>Feature 2</h4>
          <p>Blablabla</p>

          <h4>Feature 3</h4>
          <p>Blablabla</p>
        </div>
      </div>

      <% include parts/footer.ejs %>
      
    </div>
    
    <script type="text/javascript" src="/lib/jQuery/jquery.3.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>

  </body>
</html>
