<div class="nav">
	<ul class="nav nav-pills pull-right">
	  <li <% if (page_name === 'home') { %>class="active" <% } %> ><a href="/home">Home</a></li>
	  <li <% if (page_name === 'about') { %>class="active" <% } %> ><a href="/about">About</a></li>
	  <li <% if (page_name === 'contact') { %>class="active" <% } %> ><a href="/contact">Contact</a></li>
	  <li><a class="btn btn-success" href="/login">Log in</a></li>
	</ul>
	<h3 class="text-muted">RubyCon</h3>
</div>