<div class="nav">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="/dashboard">Dashboard</a></li>
		<li><a href="/beaconsList">Beacons</a></li>
		<li><a href="/contentsList">Contents</a></li>
		<li><a href="#">Settings</a></li>
		<li><a class="btn btn-danger" href="/logout">Log out</a></li>
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
			<b class="caret"></b></a>
			<ul class="dropdown-menu">
			    <li>
			        <div class="navbar-content">
			            <div class="row">
			                <div class="col-md-5">
			                    <img src="http://placehold.it/120x120"
			                        alt="Alternate Text" class="img-responsive" />
			                    <p class="text-center small">
			                        <a href="#">Change Photo</a></p>
			                </div>
			                <div class="col-md-7">
			                    <span>Bhaumik Patel</span>
			                    <p class="text-muted small">
			                        mail@gmail.com</p>
			                    <div class="divider">
			                    </div>
			                    <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
			                </div>
			            </div>
			        </div>
			        <div class="navbar-footer">
			            <div class="navbar-footer-content">
			                <div class="row">
			                    <div class="col-md-6">
			                        <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
			                    </div>
			                    <div class="col-md-6">
			                        <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-sm pull-right">Sign Out</a>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </li>
			</ul>
		</li>
	</ul>
	<h3 class="text-muted">RubyCon</h3>
</div>

