<div class="nav">
	<ul class="nav nav-pills pull-right">
		<li <% if (page_name === 'dashboard') { %>class="active" <% } %> ><a href="/dashboard">Dashboard</a></li>
		<li <% if (page_name === 'beacons') { %>class="active" <% } %> ><a href="/beaconsList">Beacons</a></li>
		<li <% if (page_name === 'contents') { %>class="active" <% } %> ><a href="/contentsList">Contents</a></li>
		<li <% if (page_name === 'logout') { %>class="active" <% } %> ><a class="btn btn-danger" href="/logout">Log out</a></li>
	</ul>
	<h3 class="text-muted">RubyCon</h3>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>