<div class="nav">
	<ul class="nav nav-pills pull-right">
	  <li class="active"><a href="/home">Home</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/contact">Contact</a></li>
	  <li><a class="btn btn-success" href="/login">Log in</a></li>
	</ul>
	<h3 class="text-muted">Beacon Manager</h3>
</div>