<div class="nav">
	<ul class="nav nav-pills pull-right">
	  <li class="active"><a href="/dashboard">Dashboard</a></li>
	  <li><a href="/beaconsList">Beacons</a></li>
	  <li><a href="#">Contents</a></li>
	  <li><a href="#">Settings</a></li>
	  <li><a class="btn btn-danger" href="/logout">Log out</a></li>
	</ul>
	<h3 class="text-muted">Beacon Manager</h3>
</div>